.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-form-new {
   min-height: 200px;
  max-height: 80vh;
  overflow-y: auto;
  background: #ffffff;
  padding: 24px 32px;
  border-radius: 12px;
  width: 400px;
  max-width: 450px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.add-fee-collection-form .form-group {
  height: 100;
  /* margin-bottom: 5px; */
  display: flex;
  flex-direction: column;
}

.modal-form-new label {
  font-weight: 400;
  font-size: 16px;
  
}
.modal-form-new h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #102eb4;
}

.modal-form-new form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-form-new input,
.modal-form-new select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  color: #000;
}
.modal-form-new textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  color: #000;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: #999; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-fee-type-inline-btn {
  margin-top: 5px;
  background: none;
  color: #007bff;
  border: none;
  padding: 0;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: underline;
}
.add-fee-type-inline-btn:hover {
  color: #0056b3;
}
