.header {
    background-color: #49aac0;
    color: white;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}
  
  .header-title {
    margin: 0;
    font-size: 1.5rem; 
    text-align: center;
    flex-grow: 1;
  }
  
.logout-group {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

  .logout-icon {
    font-size: 1.5rem;
    cursor: pointer;  
    transition: color 0.3s ease;
  }
  
  .logout-icon:hover {
    color: #1972bb;
  }