html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

.home-container {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.home-body {
  display: flex;
  min-height: calc(100vh - 65px - 90px); /* Trừ chiều cao header (65px) và navbar (90px) */
}

.home-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 32px 24px 24px 24px;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
  margin-top: 65px;    /* Đẩy xuống dưới Header */
  margin-bottom: -120px; /* Để trên Navbar */
}

.home-content h1 {
  font-size: 2rem;
  color: #102eb4;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Khi sidebar mở */
.home-content.sidebar-open {
  margin-left: 220px; /* width của sidebar khi open */
}

/* Khi sidebar đóng */
.home-content.sidebar-closed {
  margin-left: 60px; /* width của sidebar khi closed */
}

/* -------- Dashboard layout -------- */
.dashboard {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-height: 70vh;;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 100vw;
}

/* Hàng 3 khối nhỏ */
.dashboard-top {
  display: flex;
  flex-wrap: wrap;           /* Cho phép các khối tự xuống hàng */
  justify-content: space-between;
  gap: 36px;
}

/* Hàng 2 khối lớn */
.dashboard-bottom {
  display: flex;
  flex-wrap: wrap;           /* Cho phép các khối tự xuống hàng */
  justify-content: space-between;
  gap: 36px;
}

/* Card cơ bản */
.card {
  background: #f1f5ff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  color: #102eb4;
  font-weight: 500;
  text-align: center;
  flex: 1 1 260px;           /* Card sẽ co giãn, min-width là 260px */
  min-width: 260px;
  box-sizing: border-box;
}

/* Kích thước khối */
.small-card {
  flex: 1 1 260px;           /* Card sẽ co giãn, min-width là 260px */
  min-width: 260px;
  box-sizing: border-box;
  flex: 1;
  min-height: 200px;
}

.large-card {
  flex: 1 1 260px;           /* Card sẽ co giãn, min-width là 260px */
  min-width: 260px;
  box-sizing: border-box;
  flex: 1;
  min-height: 400px;
}
